<launch>
  <arg name="bundle" />
  <arg name="rviz" default="false" />

  <node pkg="n3mapping" type="n3mapping_product_runtime.py"
        name="n3mapping_node" output="screen"
        args="--bundle $(arg bundle)" />

  <node pkg="rviz" type="rviz" name="n3_rviz" output="screen" if="$(arg rviz)" args="-d $(find n3mapping)/launch/n3_noetic.rviz" />
</launch>
