<launch>
  <arg name="config_file" default="$(find n3mapping)/config/n3mapping.yaml" />
  <arg name="rviz" default="true" />

  <node pkg="n3mapping" type="n3mapping_node" name="n3mapping_node" output="screen">
    <env name="OMP_WAIT_POLICY" value="$(optenv OMP_WAIT_POLICY PASSIVE)" />
    <rosparam file="$(arg config_file)" command="load" />
    <param name="mode" value="mapping" />
  </node>

  <node pkg="rviz" type="rviz" name="n3_rviz" output="screen" if="$(arg rviz)" args="-d $(find n3mapping)/launch/n3_noetic.rviz" />
</launch>
