<launch>
  <arg name="map" default="$(find n3mapping)/map/n3map.pbstream" />
  <arg name="query_id" default="-1" />
  <arg name="dropout" default="0.3" />
  <arg name="noise_sigma" default="0.02" />
  <arg name="fake_odom_yaw_deg" default="90" />
  <arg name="max_tests" default="0" />
  <arg name="interval_sec" default="20" />
  <arg name="random_seed" default="-1" />
  <arg name="rviz" default="true" />

  <node pkg="n3mapping" type="n3mapping_synthetic_relocalization_visualizer"
        name="n3mapping_synthetic_relocalization_visualizer" output="screen"
        args="--map $(arg map)
              --query_id $(arg query_id)
              --dropout $(arg dropout)
              --noise_sigma $(arg noise_sigma)
              --fake_odom_yaw_deg $(arg fake_odom_yaw_deg)
              --max_tests $(arg max_tests)
              --interval_sec $(arg interval_sec)
              --random_seed $(arg random_seed)" />

  <node pkg="rviz" type="rviz" name="n3_synthetic_rviz" output="screen"
        if="$(arg rviz)"
        args="-d $(find n3mapping)/launch/synthetic_relocalization_visualization_noetic.rviz" />
</launch>
